<img [src]="images.arrow" class="arrow" alt="arrow">
<app-page-button [routePath]="['/characters']"  title="Go back" [ngClass]="'back-button-details'">Go back</app-page-button>


<div class="container">
  <ng-container *ngIf="character$ | async as character; else loadingOrError">
    <h1>{{ character.name }}</h1>
    <div class="details">
      <div class="image-container">
        <img [src]="character.image" [alt]="character.name" (click)="openPhoto(character.image)">

        <app-photo-viewer *ngIf="selectedPhotoUrl" [photo]="character.image" [title]="character.name" (close)="closePhoto()"></app-photo-viewer>
      </div>
      <div class="info">
         <h2>Details</h2>
         <ul>
           <li><strong>Status:</strong> <span class="status-{{character.status | lowercase}}"> {{ character.status }}</span></li>
           <li><strong>Species:</strong> {{ character.species }}</li>
           <li *ngIf="character.type"><strong>Type:</strong> {{ character.type }}</li>
           <li><strong>Gender:</strong> {{ character.gender }}</li>
           <li class="location">
             <strong>Origin:</strong>
             <ng-container *ngIf="getIdFromUrl(character.origin?.url) as originId; else originText">
               <a [routerLink]="['/locations', originId]">
                 {{ character.origin.name }}
               </a>
             </ng-container>
             <ng-template #originText>
               {{ character.origin.name }}
             </ng-template>
           </li>
           <li class="location">
             <strong>Last Known Location:</strong>
             <ng-container *ngIf="getIdFromUrl(character.location?.url) as locationId; else locationText">
               <a [routerLink]="['/locations', locationId]">
                 {{ character.location.name }}
               </a>
             </ng-container>
             <ng-template #locationText>
                {{ character.location.name }}
             </ng-template>
           </li>
           <li><strong>Appears in:</strong> {{ character.episode.length }} episode(s)</li>
           <li><strong>Created:</strong> {{ character.created | date:'longDate' }}</li>
         </ul>
       </div>
    </div>

    <div class="ai-description-section">
      <div class="ai-description">
        <div class="ai-description-logo">
          <h2>Description from I.D.E. (AI)</h2>
            <img class="ai-logo" [src]="images.ide">
        </div>
        <div class="ai-description-container">
          <button *ngIf="!descriptionLoading && !description && !descriptionError"
                  (click)="fetchAiDescription()" [disabled]="descriptionLoading" class="generate-button">
            Generate Description
          </button>

          <div *ngIf="descriptionLoading" class="loading-container small-loader">
            <p>Generating description...</p>
            <div class="loader"></div>
          </div>
          <div *ngIf="descriptionError" class="error-message">
            <p>{{ descriptionError }}</p>
            <button (click)="fetchAiDescription()" [disabled]="descriptionLoading" class="retry-button">
              Try Again
            </button>
          </div>

          <div *ngIf="!descriptionLoading && !descriptionError && description">
            <p class="ai-description-text">{{ description }}</p>
            <ul>
              <li *ngFor="let tag of tags">
                <i><span class="tag">{{ tag }}</span></i><br>
              </li>
            </ul>
          </div>

          <div class="ai-description-info">
            <p>
              <span>Interdimensional Description Engine</span> — a quirky, intelligent
              AI module built in the Citadel of Ricks.
              It specialized in generating creative, lore-aware,
              and character-consistent descriptions for characters from the "Rick and Morty" multiverse.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="episodes-section" *ngIf="character.episode && character.episode.length > 0">
      <h2>Appears in Episodes</h2>

      <ng-container *ngIf="episodes$ | async as episodes; else loadingEpisodes">
        <ul *ngIf="episodes.length > 0; else noEpisodesFound">
          <li *ngFor="let episode of episodes">
              <a [routerLink]="['/episodes', episode.id]">
                {{ episode.name }}
                <br>
                ({{ episode.episode | formatEpisode }})
              </a>
          </li>
        </ul>
        <ng-template #noEpisodesFound>
          <p>Could not load episode details for this character.</p>
        </ng-template>
      </ng-container>

      <ng-template #loadingEpisodes>
        <div class="loading-container">
          <p>Loading episodes...</p>
          <div class="loader"></div>
        </div>
      </ng-template>
    </div>
    <div *ngIf="!character.episode || character.episode.length === 0" class="no-results">
      <p>This character has not appeared in any recorded episodes.</p>
    </div>

  </ng-container>

  <ng-template #loadingOrError class="loading-container">
    <div *ngIf="loadingError" class="error-message">
      <p>Could not load character details. The character may not exist or there was a network error.</p>
    </div>
    <div *ngIf="!loadingError" class="loading-container">
      <p>Loading character details...</p>
    </div>
  </ng-template>
</div>
