# ---- Django ----
*.pyc
__pycache__/
*.log
*.pot
*.py[cod]
*.swp
*.swo
*.bak
.env
.env.*
/venv/
venv/
instance/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.idea/
.vscode/
.DS_Store

# Django static/media
staticfiles/
static/
media/

# ---- Angular ----
/dist/
/out-tsc/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
/.angular/
/.angular-cache/
/coverage/
/.env
/.env.*

# ---- General ----
*.log
*.bak
*.tmp
*.swp
*.swo
Thumbs.db
.DS_Store
