:host{
  display: block;
  min-height: 32vh;
}

.page-name{
  margin: 4vh 43vw;
}

.list{
  width: 100%;
}

.character-list{
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pagination{
  margin: 4vh auto;
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.pagination button{
  background-color: var(--primary-color);
  box-shadow: var(--light-shadow);
  border-radius: 4px;
  border: none;
  width: 6vw;
  padding: 0.5vh;
  font-size: 0.7rem;
  font-family: "Cal Sans", sans-serif;
  color: var(--text-color);
  cursor: pointer;
}

.pagination button:hover{
  box-shadow: var(--green-shadow);
  text-shadow: var(--green-shadow);
}

.arrow{
  width: 4vh;
  position: absolute;
  top: 18.5vh;
  left: 8vw;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32vh;
  text-align: center;
}

