<footer>
  <div>
    <h4>About</h4>
    <p>Wiki & Morty - your partner in Rick and Morty world</p>
    <p>Address: Somewhere near the Univers's end</p>
    <p>Phone:<br>
      +7 (777) 123-45-78<br>
      +7 (771) 234-56-890
    </p>
  </div>
  <div class="social-links">
    <h4>Social networks: </h4>
    <div class="social-links-div">
      <a class="social"><img [src]="images.whatsapp"></a>
      <a class="social"><img [src]="images.telegram"></a>
      <a class="social"><img [src]="images.instagram"></a>
    </div>
  </div>
  <div class="service-links">
    <h4>Useful emails:</h4>
    <a href="mailto:maksimsarsekeev@gmail.com">Service support</a>
    <a href="mailto:maksimsarsekeev@gmail.com">Technical support</a>
  </div>
  <h4>© Wiki & Morty 2025</h4>
</footer>
