<div class="container">
  <ng-container *ngIf="episode$ | async as episode; else loadingOrError">
    <h1>{{ episode.name }}</h1>
    <h2>({{ episode.episode }})</h2>

    <div class="details">
      <div class="info">
         <h2>Episode Information</h2>
         <ul>
           <li><strong>Air Date:</strong> {{ episode.air_date }}</li>
           <li><strong>Created:</strong> {{ episode.created | date:'longDate' }}</li>
           <li><strong>Appears in:</strong> {{ episode.characters.length }} character(s)</li>
         </ul>
       </div>
    </div>

    <div class="characters-section" *ngIf="episode.characters && episode.characters.length > 0">
      <h2>Characters in this Episode</h2>
      <ng-container *ngIf="characters$ | async as characters; else loadingCharacters">
        <ul>
          <li *ngFor="let character of characters">
            <a [routerLink]="['/characters', character.id]">
              <img [src]="character.image" [alt]="character.name">
              {{ character.name }}
            </a>
          </li>
        </ul>
      </ng-container>
      <ng-template #loadingCharacters>
        <div class="loading-container small-loader">
             <p>Loading characters...</p>
             <div class="loader"></div>
        </div>
      </ng-template>
    </div>

    </ng-container>

  <ng-template #loadingOrError>
    <div *ngIf="loadingError" class="error-message">
      <p>Could not load episode details. The episode may not exist or there was a network error.</p>
      </div>
    <div *ngIf="!loadingError">
      <p>Loading episode details...</p>
      <div class="loader"></div>
    </div>
  </ng-template>
</div>
