:host{
  display: block;
  min-height: 32vh;
}

.info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background-main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
}

.info article {
  padding: 2rem;
  width: 70%;
  background-color: var(--bg-85-color);
  border: 1px solid var(--bg-color);
  border-radius: 2rem;
}
.info article h2{
  text-align: center;
  text-shadow: var(--green-shadow);
}

.pages{
  margin: 4vh 0;
  text-align: center;
}
.pages-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.pages-button:hover{
  transform: skewY(0.4deg) scale(1.02);
}

.pages-button{
  width: 22vw;
  height: 25vw;
  border-radius: 2rem;
  font-family: "Cal Sans", sans-serif;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pages-button p{
  background-color: var(--bg-85-color);
  border-radius: 4px;
  padding: 1rem;
}
.pages-button:hover{
  box-shadow: var(--green-shadow);
  text-shadow: var(--green-shadow);
}

#characters{
  background-image: url('/images/background-characters.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#episodes{
  background-image: url('/images/background-episodes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#locations{
  background-image: url('/images/background-locations.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


