<section class="info">
  <article>
    <h2>Hey, you!</h2>
    <p>
      Yes, you, with your eyes full of existential dread and thirst for adventure
      (or just looking for what episode Mr. Poopy Butt was in)! You've come to Wiki & Morty
      - an encyclopedia dedicated to the animated series Rick and Morty.
    </p>
    <p>
      Our goal is to collect the most accurate and detailed information about all aspects of the series:
    </p>
    <p>
    Characters: From the main characters to single-episode creatures.<br>
    Episodes: Synopses, interesting facts, cultural references.<br>
    Locations: Descriptions of planets, dimensions, and other locations.
    </p>
  </article>
</section>

<section class="pages">
  <h2>Discover Our Universe:</h2>
  <div class="pages-div">
    <button class="pages-button" [routerLink]="['/characters']" id="characters">Characters</button>
    <button class="pages-button" [routerLink]="['/episodes']" id="episodes">Episodes</button>
    <button class="pages-button" [routerLink]="['/locations']" id="locations">Locations</button>
  </div>
</section>
