<div class="navbar">
  <section class="logo">
    <img [src]="images.logo" class="logo_img" [routerLink]="['/']"/>
  </section>
  <section class="navigation">
    <app-page-button [routePath]="['/characters']" title="Characters" [ngClass]="'usual'"></app-page-button>
    <app-page-button [routePath]="['/episodes']" title="Episodes" [ngClass]="'usual'"></app-page-button>
    <app-page-button [routePath]="['/locations']" title="Locations" [ngClass]="'usual'"></app-page-button>
    <button class="theme" (click)="changeTheme()" [ngStyle]="{'background-image': 'url(' + themeIcon + ')'}"></button>
  </section>
</div>
