@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

html{
  scrollbar-color: rgb(1, 192, 216) rgba(1, 192, 216, 0.2);
}

body.light {
  --bg-color: white;
  --text-color: black;
  --primary-color: #01c0d8;
  --shadow-color: #3bf13b;
  --green-shadow: 0 0 0.5rem var(--shadow-color);
  --bg-85-color: rgba(255, 255, 255, 0.85);
}

body.dark {
  --bg-color: #373737;
  --text-color: white;
  --primary-color: #01abbf;
  --shadow-color: #3bf13b;
  --green-shadow: 0 0 0.5rem var(--shadow-color);
  --bg-85-color: rgba(55, 55, 55, 0.85);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: "Dela Gothic One", sans-serif;
  letter-spacing: 0.1rem;
}

::selection {
  background-color: #3bf13b;
  color: var(--bg-color);
}

a:hover{
  box-shadow: var(--green-shadow);
}


